name: Java CI
on: [push]
jobs:
  build:
    runs-onL ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with: 
          java-version: '17'
          distribution: 'temurin'
      - name: Compile Java
        run: javac Hello.java
      - name Run Java
        run: java Hello
